# ------------------------------------
# Docker Files
# ------------------------------------
.dockerignore
.docker-compose.yml
Dockerfile

# ------------------------------------
# NPM
# ------------------------------------
package.json

# ------------------------------------
# Git
# ------------------------------------
.git/

# ------------------------------------
# Mardown
# ------------------------------------
*.md
